.DS_Store
**/*.log
**/*.bak
.zshrc.local
.history
.ssh/
*.zip
*.zip
aws/
cosign.key

# Build Artifacts
iso-result/
iso-build/
pkglists/
final-pkgsizes.txt
original-pkgsizes.txt
lorax.conf
*.iso
lupineos-41.iso.xz
lupineos-41.iso
