.navigation-sidebar {
    background-color: var(--view-bg-color);
    border-right: 1px solid var(--sidebar-border-color);
}

.welcome-title {
    font-size: 24pt;
    font-weight: 800;
    margin-bottom: 12px;
}