name: Build LupineOS Welcome

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: fedora:latest 
    steps:
    - uses: actions/checkout@v3
    
    - name: Install Dependencies
      run: |
        dnf install -y cargo gcc gtk4-devel libadwaita-devel gettext-devel openssl-devel

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose
