[Desktop Entry]
Name=Welcome to LupineOS
Comment=Welcome to your new operating system
Exec=/usr/bin/lupineos-welcome
Icon=system-help-symbolic
Terminal=false
Type=Application
Categories=Utility;GTK;
Hidden=false
NoDisplay=false
StartupNotify=true
